.body{
    width: auto;
    height: auto;
    margin: 0;
}

.header{
    background-color: #fff;
    max-width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.buttons-header{
    padding-top: 40px;
    padding-left: 400px;
    background-color: #fff;
}

.buttons-header a{
    color: #282828;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400px;
    margin-right: 20px;
    transition: 0.1s ease;
}

.buttons-header a:hover{
    color: #e07f00;
}

